<% content_for :javascripts do %>
    <%= javascript_include_tag :admin_index %>
<% end %>

<!-- The master panel with admin grid -->
<div id="content-inner">
  <h1>Administraci&oacute;n</h1>
  <div id="tabs" style="width: 100%">
    <ul>
      <% if can? :manage, Shift %>
          <li><a href="#next_shift">Pr&oacute;xima clase de hoy</a></li>
          <li><a href="#shifts">Clases</a></li>
      <% end %>
      <% if can? :manage, User %><li><a href="/users">Clientes</a><% end %>
      <% if can? :manage, Payment %><li><a href="#payments">Pagos</a></li><% end %>
      <% if can? :manage, Rooky %><li><a href="#rookies">Inscripciones manuales</a></li><% end %>
      <% if can? :manage, Stat %><li><a href="#stats">Estad&iacute;sticas</a></li><% end %>
    </ul>

    <% if can? :manage, Shift -%>
        <div id="shifts">
          <%= render "shifts/tab", :shifts => @shifts %>
        </div>
        <div id="next_shift">
          <%= render "shifts/show", :shift => @shift %>
        </div>
    <% end -%>

    <% if can? :manage, Payment -%>
        <div id="payments">
          <%= render "payments/tab", :payments => @payments %>
        </div>
    <% end -%>

    <% if can? :manage, Rooky -%>
        <div id="rookies">
          <%= render "rookies/tab", :rookies => @rookies %>
        </div>
    <% end -%>

    <% if can? :manage, Stat -%>
        <div id="stats">
          <%= render "stats/tab", :stats => @stats %>
        </div>
    <% end -%>

  </div>
</div>