<div style="float:left; margin-right: 10px">
  <%= button_to "Resetear créditos", credits_users_path, :method => "get" %>
</div>
<div style="float:left;">
  <%= button_to "Habilitar reseto para todos", set_reset_users_path, data: { confirm: "Se tildarán a todos los usuarios para ser reseteados.\n¿Está seguro que desea continuar?" }, :method => "post" %>
</div>
<div style="clear:both;" />
<% datatable "users-table", ["Nombre", "Profesión", "Teléfono", "Crédito",""], :class => "selectable" do -%>
    <% @users.each do |user| -%>
        <tr>
          <td><%= user.full_name %></td>
          <td><%= user.profession %></td>
          <td><%= user.phone %></td>
          <td><%= user.credit %></td>
          <td>
            <% unless current_user == user %>
                <%= button_to "Pago", new_user_payment_path(user), :method => :get, :id => "payment" %>
                <%= button_to "Editar", edit_user_path(user), :method => :get, :id => "edit" %>
                <%= button_to "Impersonar", impersonate_user_path(user), :method => :get, :id => "impersonate" %>
                <%= button_to "Borrar", {:action=>"destroy", :controller=>"users", :id => user}, data: { confirm: "¿Está seguro que desea eliminar \nel usuario #{user.full_name.upcase}?" }, :method => :delete, :id => "delete" %>
            <% end %>
          </td>
        </tr>
    <% end -%>
<% end -%>

<script>
    $(document).ready(function() {
        var oTable = $("#users-table").usersTable();
        $(":submit").button();
    } );

</script>