<% datatable "users-table", ["Nombre", "E-mail", "Teléfono", "Crédito",""], :class => "selectable" do -%>
    <% users.each do |user| -%>
        <tr>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= user.credit %></td>
          <td>
            <% unless current_user == user %>
                <%= button_to "Pago", new_user_payment_path(user), :method => :get %>
                <%= button_to "Editar", edit_user_path(user), :method => :get %>
                <%= button_to "Borrar", {:action=>"destroy", :controller=>"users", :id => user}, data: { confirm: "¿Está seguro que desea eliminar \nel usuario #{user.full_name.upcase}?" }, :method => :delete %>
            <% end %>
          </td>
        </tr>
    <% end -%>
<% end -%>