<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Modificar datos del cliente</h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for(@user) do |f| %>
      <%= f.input :first_name, autofocus: true %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :profession %>
      <%= f.input :certificate %>
      <%= f.input :reset_credit %>
      <%= f.input :enable %>
      <%= f.association :disciplines, as: :check_boxes %>
      <%= f.input :password, hint: 'dejar esto en blanco sino se desea cambiar la contraseña' %>
      <%= f.input :password_confirmation %>
      <%= f.submit 'Actualizar', data: { disable_with: "Procesando..." }, class: "btn btn-primary" %>
      <%= link_to "Volver", :back, class: "btn btn-default" %>
    <% end %>
  </div>
</div>