<div style="margin: 10px;"><%= link_to '« Volver', root_path %></div>

<div id="content-inner">
    <h1>Editar datos</h1>
      <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= t 'errors.header.female', :resource => 'Usuario', :count => @user.errors.count %></h2>
            <ul>
              <% @user.errors.each do |attr, msg| %>
                  <li>
                    <%= msg %>
                  </li>
              <% end %>
            </ul>
          </div>
      <% end %>

        <fieldset class="gray">
          <div class="clearfix">
            <%= f.label :first_name %>
            <div class="input">
              <%= f.text_field :first_name, :autofocus => true %>
            </div>
          </div>
          <div class="clearfix">
            <%= f.label :last_name %>
            <div class="input">
              <%= f.text_field :last_name %>
            </div>
          </div>
          <div class="clearfix">
            <%= f.label :phone %>
            <div class="input">
              <%= f.text_field :phone %>
            </div>
          </div>
          <div class="clearfix">
            <%= f.label :email %>
            <div class="input">
              <%= f.email_field :email %>
            </div>
          </div>
          <div class="clearfix">
            <%= f.label :profession %>
            <div class="input">
              <%= f.text_field :profession %>
            </div>
          </div>
          <div class="clearfix">
            <%= f.label :reset_credit %>
            <div class="input">
              <%= f.check_box :reset_credit %>
            </div>
          </div>
          <div class="clearfix">
            <%= f.label :discipline_ids %>
            <div class="input">
              <%= f.collection_check_boxes(:discipline_ids, Discipline.all, :id, :name) do |c| %>
                <div><%= c.check_box + " " + c.text %></div>
              <% end %>
            </div>
          </div>
          <div class="clearfix">
            <%= f.label :certificate %>
            <div class="input">
              <%= f.check_box :certificate %>
            </div>
          </div>
          <div class="clearfix">
            <%= f.label :enable %>
            <div class="input">
              <%= f.check_box :enable %>
            </div>
          </div>
          <div class="clearfix">
            <h4>Dejar en blanco si no se quiere cambiar la contraseña:</h4>
          </div>
          <div class="clearfix">
            <%= f.label :password %>
            <div class="input">
              <%= f.password_field :password, :autocomplete => "off" %> [La clave debe tener 8 caracteres]
            </div>
          </div>
          <div class="clearfix">
            <%= f.label :password_confirmation %>
            <div class="input">
              <%= f.password_field :password_confirmation %>
            </div>
          </div>
          <div class="actions">
            <%= f.submit 'Guardar', :class => "btn primary" %>
          </div>
        </fieldset>
    <% end %>
 </div>