<%= form_for @shift do |f| %>
    <% if @shift.errors.any? %>
        <div id="error_explanation">
          <h2><%= t 'errors.header.female', :resource => 'Clase', :count => @shift.errors.count %></h2>
          <ul>
            <% @shift.errors.each do |attr, msg| %>
                <li>
                  <%= msg %>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset class="gray">
      <div class="clearfix">
        <%= f.label :day %>
        <div class="input">
          <%= f.select :week_day, options_for_select(Shift.days.invert, Shift::WEEK_DAYS[@shift.week_day.to_s]), {}, :style => "text-transform:capitalize" %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :start_time %>
        <div class="input">
          <%= f.time_field :start_time  %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :end_time %>
        <div class="input">
          <%= f.time_field :end_time  %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :max_attendants %>
        <div class="input">
          <%= f.text_field :max_attendants %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :open_inscription %>
        <div class="input">
          <%= f.text_field :open_inscription %> [horas antes de la clase]
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :close_inscription %>
        <div class="input">
          <%= f.text_field :close_inscription %> [horas antes de la clase]
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :cancel_inscription %>
        <div class="input">
          <%= f.text_field :cancel_inscription %> [horas antes de la clase]
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :instructor_id %>
        <div class="input">
          <%= f.collection_select(:instructor_id, Instructor.order("last_name"), :id, :full_name)  %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :discipline_id %>
        <div class="input">
          <%= f.collection_select(:discipline_id, Discipline.order("name"), :id, :name)  %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit 'Guardar', :class => "btn primary" %>
      </div>
    </fieldset>
<% end %>