<fieldset class="gray">
  <%= button_to "Agregar una nueva Clase", new_shift_path, :method => "get" %>
</fieldset>
<% datatable "shifts-table", ["Dia y hora", "Cupo", "Próxima", "Anotados", "Estado", "", ""], :class => "selectable" do -%>
    <% shifts.each do |shift| -%>
        <tr>
          <td><%= shift.day_and_time %></td>
          <td><%= shift.max_attendants %></td>
          <td><%= l(shift.next_fixed_shift, :format => '%A, %e de %B %H:%M hs.') %></td>
          <td><%= shift.next_fixed_shift_users.count %></td>
          <td><%= shift.status.capitalize %></td>
          <td>
            <%= button_to "Ver", shift_path(shift), :method => :get %>
            <%= button_to "Borrar", {:action=>"destroy", :controller=>"shifts", :id => shift}, data: { confirm: "¿Está seguro que desea eliminar \nla clase del #{shift.day_and_time}?" }, :method => :delete %>
          </td>
          <td><%= shift.next_fixed_shift %></td>
        </tr>
    <% end -%>
<% end -%>