<div id="content-inner" xmlns="http://www.w3.org/1999/html">
    <h1><%= @shift.day_and_time %></h1>

    <p>
      <b>Cupo:</b>
      <%= @shift.max_attendants %>
    </p>

    <p>
      <b>Pr&oacute;xima clase:</b>
      <%= l(@shift.next_fixed_shift, :format => '%A, %e de %B %H:%M hs.') %>
    </p>

    <p>
      <b>Anotados:</b>
      <%= @shift.next_fixed_shift_count %>
    </p>

    <p>
      La inscripci&oacute;n est&aacute; <b><%= @shift.status %></b>
    </p>

    <p>
      La inscripci&oacute;n abre <b><%= @shift.open_inscription %> horas</b> antes
    </p>

    <p>
      La inscripci&oacute;n cierra <b><%= @shift.close_inscription %> horas</b> antes
    </p>

    <p>
      <b>Instructor:</b>
      <%= @shift.instructor.full_name %>
    </p>

    <p>
      <b>Disciplina:</b>
      <%= @shift.discipline.name %>
    </p>

    <%= render partial: "user_list", locals: {users: @shift.next_fixed_shift_users, rookies: @shift.next_fixed_shift_rookies} %>

    <%= link_to 'Volver', root_path(:anchor => 'shifts') %>
</div>