<div id="content-inner" xmlns="http://www.w3.org/1999/html">
    <h1><%= @shift.day_and_time %></h1>

    <p>
      <b>Cupo:</b>
      <%= @shift.max_attendants %>
    </p>

    <p>
      <b>Pr&oacute;xima clase:</b>
      <%= l(@shift.next_fixed_shift, :format => '%A, %e de %B %H:%M hs.') %>
    </p>

    <p>
      <b>Anotados:</b>
      <%= @shift.next_fixed_shift_count %>
    </p>

    <p>
      La inscripci&oacute;n est&aacute; <b><%= @shift.status %></b>
    </p>

    <p>
      La inscripci&oacute;n abre <b><%= @shift.open_inscription %> horas</b> antes
    </p>

    <p>
      La inscripci&oacute;n cierra <b><%= @shift.close_inscription %> horas</b> antes
    </p>

    <p>
      <b>Instructor:</b>
      <%= @shift.instructor.full_name %>
    </p>

    <p>
      <b>Disciplina:</b>
      <%= @shift.discipline.name %>
    </p>

    <% if @shift.next_fixed_shift_users.count > 0 %>
    <p>
      <b>Inscriptos</b>
      <ul class="unstyled">
      <% @shift.next_fixed_shift_users.each do |inscription| -%>
        <li>
          <%= check_box_tag "user#{inscription.user.id}" -%>
          <%= inscription.user.full_name %> | <%= inscription.user.phone %> | <%= inscription.user.email %>
        </li>
      <% end -%>
      </ul>
    </p>
    <% end %>
    <% if @shift.next_fixed_shift_rookies.count > 0 %>
    <p>
      <b>Pruebas</b>
      <ul class="unstyled">
        <% @shift.next_fixed_shift_rookies.each do |rooky| -%>
            <li>
              <%= check_box_tag "rooky#{rooky.id}" -%>
              <%= rooky.full_name %> | <%= rooky.phone %> | <%= rooky.email %>
              <br />
              <%= rooky.notes %>
            </li>
        <% end -%>
      </ul>
    </p>
    <% end %>

    <%= link_to 'Volver', root_path(:anchor => 'shifts') %>
</div>