<%= form_for @rooky do |f| %>
    <% if @rooky.errors.any? %>
        <div id="error_explanation">
          <h2><%= t 'errors.header.female', :resource => 'prueba', :count => @rooky.errors.count %></h2>
          <ul>
            <% @rooky.errors.each do |attr, msg| %>
                <li>
                  <%= msg %>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset class="gray">
      <%= f.hidden_field :shift_id, :value => @shift.id %>

      <div class="clearfix">
        <div class="input">
        <h3>
          <%= l(@shift.next_fixed_shift, :format => '%A, %e de %B %H:%M hs.').capitalize %>
        </h3>
          </div>
      </div>

      <div class="clearfix">
        <%= f.label :full_name %>
        <div class="input">
          <%= f.text_field :full_name %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :phone %>
        <div class="input">
          <%= f.text_field :phone %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :email %>
        <div class="input">
          <%= f.text_field :email %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :notes %>
        <div class="input">
          <%= f.text_area :notes, :cols => 0, :rows => 0, :style => 'width: 210px; height: 60px;' %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit 'Guardar', :class => "btn primary" %>
      </div>
    </fieldset>
<% end %>