<%= simple_form_for [@user, @payment] do |f| %>

  <%= f.association :user %>

  <div class="form-inline month-year-field">
    <label for="payment-month" class="control-label col-md-12 no-padding">Período</label>
    <%= f.input :month, collection: t('date.month_names').compact.each_with_index.collect { |m, i| [ m.capitalize, Date::MONTHNAMES[i+1].downcase ] }, selected:  Date::MONTHNAMES[Time.now.month].downcase, label: false  %>
    <%= f.input :year, collection: Time.now.year..Time.now.year + 2, selected: Time.now.year, label: false %>
  </div>

  <%= f.input :amount %>
  <%= f.input :credit %>
  <%= f.submit 'Guardar', data: { disable_with: "Procesando..." }, class: "btn btn-primary" %>
  <%= link_to "Volver", :back, class: "btn btn-default" %>
<% end %>

<div id="payment-history-panel" class="panel panel-default">
  <div class="panel-heading">Historial de Pagos</div>
  <div class="table-responsive">
    <table id="user-payments-table" class="table table-striped" cellspacing="0" width="100%" data-source="/payments?user_id=<%= @user.id %>.json">
        <thead>
        <tr>
          <th>Fecha de pago</th>
          <th>Mes acreditado</th>
          <th>Monto</th>
          <th>Crédito</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
</div>