<%= simple_form_for [@user, @payment] do |f| %>

  <%= f.hidden_field :user_id, :value => @user.id, id: :payment_user_id %>

  <div class="form-inline" style="margin-bottom: 20px;">
    <label for="active-pack">Pack de clases activo</label>
    <input type='text' class="form-control" readonly="readonly"  id="active-pack" value="<%= @user.pack.try(:name) || 'Ninguno' %>" />
    <input type="button" value="Cambiar" class="btn btn-primary" id="change-pack" />
  </div>

  <div class="form-inline">
    <label class="control-label col-md-12 no-padding" style="margin-bottom: 10px;">
      Período de validez de los créditos
    </label>

    <div class='col-md-6' style="margin-bottom: 20px;">
      <div class="form-group">
        <label for="date-from">Desde</label>
        <div class='input-group date' id='date-from-credit' style="width: 350px;">
          <input type='text' class="form-control" readonly="readonly" name="payment[credit_start_date]" id="date-from" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>

    <div class='col-md-6' style="margin-bottom: 20px;">
      <div class="form-group">
        <label for="date-to">Hasta</label>
        <div class='input-group date' id='date-to-credit' style="width: 350px;">
          <input type='text' class="form-control" readonly="readonly" name="payment[credit_end_date]" id="date-to" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>

    <div class='col-md-12' style="margin-bottom: 20px;">
      <label for="payment-month">Mes</label>
      <%= f.input :month, collection: t('date.month_names').compact.each_with_index.collect { |m, i| [ m.capitalize, Date::MONTHNAMES[i+1].downcase ] }, selected:  Date::MONTHNAMES[Time.now.month].downcase, label: false  %>
      <%= f.input :year, collection: Time.now.year..Time.now.year + 2, selected: Time.now.year, label: false %>
      &nbsp;<i>Esto es solo para el reseteo <b>manual</b> de creditos</i>
    </div>

  </div>

  <%= f.input :current_credit, label: "Crédito actual", input_html: { value: "#{@user.credit}", style: "width: 100px;", disabled: true } %>
  <%= f.input :amount, input_html: { style: "width: 100px;" } %>
  <%= f.input :credit, input_html: { style: "width: 100px;" } %>

  <%= f.submit 'Guardar', data: { disable_with: "Procesando..." }, class: "btn btn-primary" %>
  <%= link_to "Volver", users_url, class: "btn btn-default" %>
<% end %>

<div id="payment-history-panel" class="panel panel-default">
  <div class="panel-heading">Historial de Pagos</div>
  <div class="table-responsive">
    <table id="user-payments-table" class="table table-striped" cellspacing="0" width="100%" data-source="/payments?user_id=<%= @user.id %>.json">
        <thead>
        <tr>
          <th>Fecha de pago</th>
          <th>Vencimiento de créditos</th>
          <th>Monto</th>
          <th>Crédito</th>
          <th>Crédito usado</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
</div>

<div id="packModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="error" style="display: none; color: red;">
        Hubo un error al tratar de guardar el pack, por favor vuelva intentar.
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Pack de clases activo para <%= @user.full_name %></h4>
        </div>
        <div class="panel-body">
            <div class="form-inline">
              <div class="form-group select optional">
                <%=
                  select_tag(
                        'pack_id',
                        options_from_collection_for_select(Pack.all, "id", "name", @user.pack.try(:id)),
                        include_blank: "Ninguno",
                        id: 'select-pack-modal',
                        class: 'select optional form-control',
                        style: "width: 300px;"
                    )
                %>
              </div>
              <%= link_to 'Guardar', '#', class: 'btn btn-primary', id: 'save-pack-modal' %>
              <%= link_to 'Cancelar', '#', class: 'btn btn-default', id: 'cancel-pack-modal' %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>