<h1>Filtrar pagos</h1>
<%= form_tag({controller: "payments", action: "download", format: "xls"}, method: "post", id: "payments_form") do %>
<fieldset class="gray">
  <div class="clearfix">
    <%= label_tag(:date_from, "Desde:") %>
    <div class="input">
      <%= text_field_tag(:date_from, I18n.l(Chronic.parse("now"), :format => '%d/%m/%Y'), :style => 'width: 120px') -%>
      <%= text_field_tag(:time_from, '00:00', :style => 'width: 80px') -%> hs.
    </div>
  </div>
  <div class="clearfix">
    <%= label_tag(:date_from, "Hasta:") %>
    <div class="input">
      <%= text_field_tag(:date_to, I18n.l(Chronic.parse("now"), :format => '%d/%m/%Y'), :style => 'width: 120px' ) %>
      <%= text_field_tag(:time_to, '23:59', :style => 'width: 80px') -%> hs.
    </div>
  </div>
  <div class="actions">
    <%= button_tag("Buscar", id: "payments-search-button", class: "btn primary", :type => 'button') -%>
    <%= button_tag("Exportar", id: "payments-export-button", class: "btn", :type => 'button') -%>
  </div>
</fieldset>
<% end %>
<div class="clearfix">
  <% datatable "payments-table", ["Fecha de pago", "Cliente", "Monto", "Crédito", "Mes acreditado", "", ""], :class => "selectable", :footer => true do -%>
  <% end -%>
</div>

<script>
    $(document).ready(
        function() {
            $( "#date_from" ).datepicker($.datepicker.regional[ "es" ]);
            $( "#date_to" ).datepicker($.datepicker.regional[ "es" ]);

            var oTable = $('#payments-table').DataTable();

            $('#payments-search-button').click(
                function () {
                    oTable.ajax.url("/payments/search.json?date_from=" + $('#date_from').val() + "&time_from=" + $('#time_from').val() + "&date_to=" + $('#date_to').val() + "&time_to=" + $('#time_to').val()).load();
                }
            );

            $( "#payments-export-button").click(
                function () {
                    $("#payments_form").submit();
                }
            );

        }
    );
</script>