<h1>Filtrar pagos</h1>
<form>
<fieldset class="gray">
  <div class="clearfix">
    <%= label_tag(:date_from, "Desde:") %>
    <div class="input">
      <%= text_field_tag(:date_from, I18n.l(Chronic.parse("1 this month"), :format => '%d/%m/%Y')) %>
    </div>
  </div>
  <div class="clearfix">
    <%= label_tag(:date_from, "Hasta:") %>
    <div class="input">
      <%= text_field_tag(:date_to, I18n.l(Chronic.parse("now"), :format => '%d/%m/%Y') ) %>
    </div>
  </div>
  <div class="actions">
    <%= button_tag("Buscar", id: "payments-search-button", class: "btn primary", :type => 'button') %>
  </div>
</fieldset>
</form>
<div class="clearfix">
  <% datatable "payments-table", ["Fecha de pago", "Cliente", "Monto", "Crédito", "Mes acreditado", "", ""], :class => "selectable", :footer => true do -%>
  <% end -%>
</div>

<script>
    $(document).ready(
        function() {
            $( "#date_from" ).datepicker($.datepicker.regional[ "es" ]);
            $( "#date_to" ).datepicker($.datepicker.regional[ "es" ]);

            var oTable = $('#payments-table').DataTable();

            $('#payments-search-button').click(
                function () {
                    oTable.ajax.url("/payments/search.json?date_from=" + $('#date_from').val() + "&date_to=" + $('#date_to').val()).load();
                }
            );

        }
    );
</script>