<!DOCTYPE html>
<html>
<head>
  <title>La Tribu</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

  <%= stylesheet_link_tag media: "all" %>
  <%= stylesheet_link_tag :default, :datatables %>
  <!--[if lte IE 6]><%= stylesheet_link_tag :ie6 %><![endif]-->
  <%= yield :stylesheets %>

  <%= javascript_include_tag :default, :datatables %>
  <%= yield :javascripts %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'layouts/topbar' %>
<div class="main container">
  <div id="flash-messages">
    <%= flash_messages %>

    <% if !current_user.try(:admin?) && @shift -%>
    <div id="info" class="alert-message block-message info">
        <div style="float:left;">
          Si confirmas la inscripción a la clase del <span style="font-weight: bold;"><%= l(@shift.next_fixed_shift, :format => '%A, %e de %B %H:%M hs.') %></span> no podrás liberarla luego
        </div>
        <div style="float:left; padding-left: 20px;">
          <%= button_to "Confirmar", indiscriminate_inscription_shift_path(@shift), :method => :get -%>
        </div>
          <div style="float:left; padding-left: 20px;">
            <%= button_to "Cancelar", clients_path, :method => :get -%>
          </div>
        <div style="clear:both;">
        </div>
    </div>

    <% end -%>
  </div>
  <section id="content">
    <%= yield %>
  </section>
</div>

</body>
</html>
